html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  box-sizing: inherit;
}

header {
  text-align: center;
  background-color: rgb(59, 4, 59);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 3em 1em;
  height: 100%;
  background-color: rgb(236, 198, 236);
  border-radius: 4px;
  padding: 2em;
}

form {
  height: 100%;
}

label {
  display: inline-block;
}

input {
  display: block;
}

footer {
  height: 75px;
  background-color: rgb(59, 4, 59);
  color: white;
  text-align: center;
  margin-top: auto;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}