@media screen and (min-width: 481px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    flex: 1;
    text-align: center;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color1);
    color: var(--color2);
  }

  header h1 {
    flex: 4;
    margin-left: 2em;
  }

  ul a {
    padding: 1em;
  }

  ul a:hover {
    background-color: var(--color2);
    color: var(--color1);
  }

  nav {
    flex: 5;
  }

  nav a {
    color: var(--color2);
    text-decoration: none;
    font-size: 1.25em;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  h1 {
    grid-column: 1 / -1;
    text-align: center;
  }

  figure {
    height: 150px;
  }

  img {
    width: 100%;
    height: 75%;
  }

  footer {
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }
}