:root {
  --color1: black;
  --color2: gold;
}

@media (max-width: 480px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    display: flex;
    background-color: var(--color1);
    height: 1rem;
    align-items: center;
    padding: 15px;
    color: var(--color2);
  }

  #menu {
    display: block;
    position: absolute;
    right: 1em;
    top: 0.8em;
  }

  #menu::before {
    content: "\02630";
  }

  #menu.show li {
    display: block;
    background-color: var(--color1);
    width: 7em;
    text-align: center;
    line-height: 2em;
    position: relative;
    top: 10px;
  }

  #menu.show li:hover {
    background-color: var(--color2);
    border: 1px solid var(--color1);
  }

  #menu.show li:hover > a {
    color: var(--color1);
  }

  #menu.show::before {
    content: "\0274C";
  }

  #menu::before,
  #menu.show::before {
    position: absolute;
    align-items: center;
    right: 0.5em;
    top: 0;
  }

  nav {
    display: flex;
  }

  nav a {
    text-decoration: none;
    color: var(--color2);
    text-align: left;
  }

  nav a:hover {
    cursor: pointer;
  }

  .navigation {
    list-style: none;
  }

  .navigation li {
    display: none;
  }

  #menu:hover {
    cursor: pointer;
    color: white;
  }

  main {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr 1fr);
    justify-content: center;
    text-align: center;
  }

  main h2 {
    margin: 5%;
    font-size: 1.5em;
  }

  img {
    width: 100%;
    height: 150px;
  }

  footer {
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
  }
}